extends layout
block content
  h2 Modules
  .d-flex.flex-wrap
    - let i = 1
      console.log(modules)
    each module,index in modules
      //- - let access = "none"
      //- if (index!=0)
      //-   unless (userRoleId>=2 || modules[index-1].userPercentage>=70)
      //-     - access = "auto"

      a.nav-link(href=`module/${module.id}`)
        .card(style='width: 18rem;')
          .card-body
            h5.card-title #{i}. #{module.title}
            - i++
            h6.card-subtitle.mb-2.text-muted #{module.access}
            p.card-text #{module.userPercentage}%
            if (index!=0)
              unless (userRoleId>=2 || modules[index-1].userPercentage>=70)
                svg.bi.bi-lock-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                  path(d='M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z')
            else if (userRoleId==0)
              svg.bi.bi-lock-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                path(d='M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z')






